<div class="row mgn-0 bg min-h-100vh">
  <div class="col-xs-12">
    <h3>Manager Dashboard</h3>
  </div>
  <div class="col-xs-12 cardBase  card-content m-t-15" style="display: initial;">
    <h4>{{name}}</h4>
    <h6>Employee ID: <b>{{empId}}</b></h6>
    <h6>Cubicle ID: <b>{{cubicleId}}</b></h6>
  </div>
  <div class="col-xs-12 cardBase" (click)="navigateToAction()">
    Requests awaiting my approval
    <i class="fa fa-angle-right" aria-hidden="true"></i>
  </div>
  <div class="col-xs-12 cardBase" (click)="navigateToTrack()">
    Track Employee
    <i class="fa fa-angle-right" aria-hidden="true"></i>
  </div>
  <div class="col-xs-12 cardBase">
    Rejected Requests
    <i class="fa fa-angle-right" aria-hidden="true"></i>
  </div>
  <div class="col-xs-12 cardBase">
    Approved Requests
    <i class="fa fa-angle-right" aria-hidden="true"></i>
  </div>
  <div class="col-xs-12 cardBase">
    Chart Data
    <i class="fa fa-angle-right" aria-hidden="true"></i>
  </div>
</div>